<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>Chat with GPT</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content-border">
    <p></p>
  </mat-card-content>
  <mat-card-footer>
    <mat-form-field appearance="outline" class="example-full-width chat-form" >
      <mat-label>Client Chat</mat-label>
      <input matInput #message maxlength="256" placeholder="I need help with..." >
      <mat-icon matSuffix ></mat-icon>      
      <mat-hint align="start"><strong>Feel free to ask!</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
    <mat-progress-bar></mat-progress-bar>
  </mat-card-footer>
</mat-card>
<div id="lineChart" class="Echarts"></div>