<table>
    <tr>
      <th>BWIC ID</th>
      <th>Bond ID</th>
      <th>Size</th>
      <th>Start Price</th>
      <th>Present Price</th>
      <th>Start Time</th>
      <th>Due Time</th>
      <th>Last Bid Time</th>
      <th>Bid Counts</th>
    </tr>
    <tr *ngFor="let item of dataItems; index as i">
      <td><input [(ngModel)]="item.bwic_id" name="bwic_id_{{i}}"></td>
      <td><input [(ngModel)]="item.bond_id" name="bond_id_{{i}}"></td>
      <td><input [(ngModel)]="item.size" name="size_{{i}}"></td>
      <td><input [(ngModel)]="item.start_price" name="start_price_{{i}}"></td>
      <td><input [(ngModel)]="item.present_price" name="present_price_{{i}}"></td>
      <td><input [(ngModel)]="item.start_time" name="start_time_{{i}}" type="datetime-local"></td>
      <td><input [(ngModel)]="item.due_time" name="due_time_{{i}}" type="datetime-local"></td>
      <td><input [(ngModel)]="item.last_bid_time" name="last_bid_time_{{i}}" type="datetime-local"></td>
      <td><input [(ngModel)]="item.bid_counts" name="bid_counts_{{i}}" type="number"></td>
    </tr>
</table>
