<nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
            <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
            <h1>Ant Design Of Angular</h1>
        </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li *ngFor="let menu of menus" nz-submenu nzOpen [nzTitle]="menu.title" [nzIcon]="menu.icon">
            <ul>
                <li *ngFor="let child of menu.children" nz-menu-item nzMatchRouter>
                    <a [routerLink]="child.path">{{child.desc}}</a>
                </li>
            </ul>
        </li>
    </ul>
</nz-sider>